### Regional Analysis

This presentation gives insight into the different types of health facilities present in each region and the type of ownerships of the different health facilities present in each region.
It answers the question
1. How many health facilities are present in each district of each region?
2. What are the different types of health facilities present in each Region?
3. Which organization or agency owns the types of health centers in each hospital?

In [1]:
import pandas as pd
import folium
import os

os.chdir('C:/Users/Aristocratic/Desktop/Azubi')

df = pd.read_csv('data on HFs GH.csv')
print('Data Imported')

Data Imported

In [10]:
print('DIFFERENT TYPES OF HEALTH FACILITIES')
print('-------------------------------------')
print(f"There are {len(df['Type'].unique())} differnt types of health facilities in the country")
print('\n')
print(df['Type'].unique())
print('\n\n')
print('OWNERSHIP TYPES')
print('---------------')
print(f"There are {len(df['Ownership'].unique())} different ownership types for the different health facilities in Ghana")
print('\n')
print(df['Ownership'].unique())

DIFFERENT TYPES OF HEALTH FACILITIES
-------------------------------------
There are 25 differnt types of health facilities in the country


['Clinic' 'Health Centre' 'Maternity Home' 'CHPS' 'Hospital'
 'District Hospital' 'Centre' 'RCH' 'Training Institution'
 'Municipal Health Directorate' 'Teaching Hospital' 'Regional Hospital'
 'CPHS' 'District Health Directorate' 'Regional Health Directorate'
 'Polyclinic' 'Municipal Hospital' 'Municipal  Health Directorate'
 'Metropolitan Hospital' 'Metropolitan Health Directorate' 'DHD'
 'Psychiatric Hospital' 'Research Institution' 'Others' 'clinic']



OWNERSHIP TYPES
---------------
There are 12 different ownership types for the different health facilities in Ghana


['CHAG' 'Private' 'Government' 'Quasi-Government' 'Islamic' 'Muslim'
 'Maternity Home' 'Clinic' 'private' 'NGO' 'government' 'Mission']

# Regional Insights

In [11]:
df.groupby(['Region']).count()[['FacilityName','Town']]

               FacilityName  Town
Region
Ashanti                 658   654
Brong Ahafo             348   338
Central                 299   281
Eastern                 393   392
Greater Accra           504   502
Northern                267   267
Upper East              232   232
Upper West              161   161
Volta                   398   377
Western                 496   399

## Ashanti Region

In [38]:
df.loc[df['Region']=='Ashanti'].groupby(['Region','District']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                     FacilityName
Region  District
Ashanti Kumasi Metropolitan                   263
        Ejisu-Juaben Municipal                 30
        Amansie West                           28
        Mampong Municipal                      23
        Obuasi Municipal                       22
        Afigya-Kwabre                          20
        Atwima-Kwanwoma                        19
        Atwima-Nwabiagya                       19
        Atwima-Mponua                          16
        Asante-Akim North Municipal            15
        Bekwai Municipal                       15
        Adansi South                           15
        Bosomtwe                               15
        Ahafo-Ano South                        15
        Kwabre                                 15
        Asante-Akim South                      14
        Sekyere Afram Plains                   14
        Ahafo-Ano North                        14
        Adansi North                           12
        Sekyere Central                        11
        Sekyere South                          11
        Ejura Sekyeredumasi                    11
        Offinso Municipal                      10
        Sekyere East                           10
        Amansie Central                         8
        Offinso North                           7
        Bosome Freho                            6

In [17]:
df.loc[df['Region']=='Ashanti'].groupby(['Region','Type']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                      FacilityName
Region  Type
Ashanti Clinic                                 269
        Health Centre                          136
        Maternity Home                         113
        Hospital                                89
        District Hospital                       14
        CHPS                                    13
        Training Institution                    12
        RCH                                      4
        District Health Directorate              2
        Municipal Health Directorate             2
        CPHS                                     1
        Centre                                   1
        Regional Hospital                        1
        Teaching Hospital                        1

In [18]:
df.loc[df['Region']=='Ashanti'].groupby(['Region','Ownership']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                          FacilityName
Region  Ownership
Ashanti Private                    350
        Government                 215
        CHAG                        71
        Quasi-Government            21
        Islamic                      1

## Greater Accra

In [39]:
df.loc[df['Region']=='Greater Accra'].groupby(['Region','District']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                  FacilityName
Region        District
Greater Accra Accra Metropolitan           277
              Tema Metropolitan            118
              Ga East                       45
              Ga West                       40
              Dangme West                   13
              Dangme East                    8
              Dangme west                    3

In [19]:
df.loc[df['Region']=='Greater Accra'].groupby(['Region','Type']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                           FacilityName
Region        Type
Greater Accra Clinic                                283
              Hospital                               97
              Maternity Home                         50
              Health Centre                          23
              Training Institution                   18
              District Health Directorate            10
              Polyclinic                              8
              CHPS                                    5
              Others                                  2
              Psychiatric Hospital                    2
              Regional Health Directorate             2
              clinic                                  2
              District Hospital                       1
              Teaching Hospital                       1

In [20]:
df.loc[df['Region']=='Greater Accra'].groupby(['Region','Ownership']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                FacilityName
Region        Ownership
Greater Accra Private                    360
              Government                 102
              Quasi-Government            26
              CHAG                        13
              NGO                          2
              government                   1

## Central Region

In [40]:
df.loc[df['Region']=='Central'].groupby(['Region','District']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                               FacilityName
Region  District
Central Cape Coast Metropolitan                          29
        Awutu Senya                                      29
        Mfantseman                                       28
        Ajumako-Enyan-Essiam                             22
        Komenda-Edina-Eguafo-Abirem Municipal            20
        Abura-Asebu-Kwamankese                           18
        Gomoa East                                       16
        Gomoa West                                       16
        Agona West Municipal                             16
        Twifu-Hemang-Lower Denkyira                      16
        Upper Denkyira East                              15
        Assin North Municipal                            13
        Agona East                                       13
        Efutu Municipal                                  13
        Asikuma-Odoben-Brakwa                            13
        Upper Denkyira West                              12
        Assin South                                      10

In [21]:
df.loc[df['Region']=='Central'].groupby(['Region','Type']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                         FacilityName
Region  Type
Central CHPS                                       98
        Clinic                                     65
        Health Centre                              54
        Maternity Home                             30
        District Health Directorate                12
        Hospital                                   10
        RCH                                         9
        District Hospital                           8
        Training Institution                        5
        Metropolitan Hospital                       1
        Municipal  Health Directorate               1
        Polyclinic                                  1
        Psychiatric Hospital                        1
        DHD                                         1
        Regional Health Directorate                 1
        Regional Hospital                           1
        Metropolitan Health Directorate             1

In [22]:
df.loc[df['Region']=='Central'].groupby(['Region','Ownership']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                          FacilityName
Region  Ownership
Central Government                 226
        Private                     55
        CHAG                        16
        Quasi-Government             2

## Eastern Region

In [41]:
df.loc[df['Region']=='Eastern'].groupby(['Region','District']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                              FacilityName
Region  District
Eastern New Juaben                      31
        Kwahu South                     30
        Birim south                     28
        Birim North                     28
        Suhum Kraboa Coaltar            27
        Yilo Krobo                      24
        Asuogyamang                     24
        Akwapim North                   23
        Kwaebibirem                     22
        Manya Krobo                     21
        East Akim                       19
        Akwapim South                   17
        West Akim                       17
        Kwahu West                      15
        Fanteakwa                       14
        Kwahu North                     14
        Atiwa                           12
        New Juaben Municipal            12
        Kweabibirem                     11
        Upper Manya                      2
        Birim South                      1
        Akyemansa                        1

In [23]:
df.loc[df['Region']=='Eastern'].groupby(['Region','Type']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                     FacilityName
Region  Type
Eastern RCH                                    96
        CHPS                                   91
        Clinic                                 85
        Health Centre                          45
        Maternity Home                         41
        District Hospital                      14
        Hospital                               13
        Training Institution                    5
        Regional Health Directorate             1
        Regional Hospital                       1
        Research Institution                    1

In [24]:
df.loc[df['Region']=='Eastern'].groupby(['Region','Ownership']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                          FacilityName
Region  Ownership
Eastern Government                 275
        Private                     83
        CHAG                        25
        Quasi-Government             8
        private                      2

## Western Region

In [42]:
df.loc[df['Region']=='Western'].groupby(['Region','District']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                 FacilityName
Region  District
Western Shama Ahanta East                  71
        Bia                                49
        Juabeso                            41
        Wassa-Amenfi West                  33
        Bibiani-Anhwiaso-Bekwai            33
        Sefwi Wiawso                       28
        Ahanta West                        27
        Jomoro                             26
        Mpohor-Wassa East                  24
        Sefwi-Akontombra                   24
        Tarkwa Nsuaem Municipal            21
        Aowin Suaman                       20
        Wassa West                         20
        Ellembele                          17
        Pretea-Huni Valley                 16
        Nzema East                         13
        Wassa-Amenfi East                  10
        Shama                               8
        Prestea-Huni Valley                 8
        Nzema East Municipal                7

In [25]:
df.loc[df['Region']=='Western'].groupby(['Region','Type']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                     FacilityName
Region  Type
Western Clinic                                189
        CHPS                                  126
        Health Centre                          69
        Maternity Home                         44
        Hospital                               22
        District Health Directorate            16
        District Hospital                      10
        RCH                                     9
        Training Institution                    7
        Polyclinic                              2
        Regional Health Directorate             1
        Regional Hospital                       1

In [26]:
df.loc[df['Region']=='Western'].groupby(['Region','Ownership']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                          FacilityName
Region  Ownership
Western Government                 289
        Private                    146
        CHAG                        30
        Quasi-Government            29
        Islamic                      1
        Mission                      1

## Volta Region

In [43]:
df.loc[df['Region']=='Volta'].groupby(['Region','District']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                       FacilityName
Region District
Volta  Ho Municipal              51
       Ketu                      47
       Hohoe                     42
       Keta                      34
       Jasikan                   33
       Nkwanta                   31
       Kpando                    29
       Akatsi                    22
       North Tongu               20
       South Dayi                20
       South Tongu               19
       Krachi West               16
       Kadjebi                   13
       Krachi East               12
       Adaklu-Anyigbe             9

In [27]:
df.loc[df['Region']=='Volta'].groupby(['Region','Type']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                     FacilityName
Region Type
Volta  Health Centre                          201
       CHPS                                    49
       Clinic                                  49
       Maternity Home                          30
       RCH                                     19
       Hospital                                15
       District Health Directorate             14
       District Hospital                       10
       Training Institution                     5
       Municipal Hospital                       2
       Polyclinic                               2
       Municipal Health Directorate             1
       Regional Hospital                        1

In [28]:
df.loc[df['Region']=='Volta'].groupby(['Region','Ownership']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                         FacilityName
Region Ownership
Volta  Government                 301
       Private                     72
       CHAG                        19
       government                   5
       Quasi-Government             1

## Brong Ahafo

In [44]:
df.loc[df['Region']=='Brong Ahafo'].groupby(['Region','District']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                      FacilityName
Region      District
Brong Ahafo Sunyani                             34
            Berekum Municipal                   32
            Dormaa Municipal                    26
            Jaman South                         25
            Techiman                            20
            Jaman North                         20
            Asutifi                             19
            Asunafo North Municipal             18
            Tain                                16
            Atebubu-Amanten                     14
            Sunyani Municipal                   14
            Asunafo South                       13
            Nkoranza                            13
            Kintampo North Municipal            12
            Sene                                12
            Kintampo South                      11
            Wenchi                              10
            Dormaa East                          7
            Pru                                  7
            Tano South                           7
            Techiman Municipal                   6
            Tano North                           6
            Nkoranza North                       2
            Sunyani West                         2
            Wenchi Municipal                     2

In [29]:
df.loc[df['Region']=='Brong Ahafo'].groupby(['Region','Type']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                          FacilityName
Region      Type
Brong Ahafo Clinic                                 155
            Health Centre                           55
            Maternity Home                          49
            CHPS                                    35
            Hospital                                19
            District Health Directorate             14
            District Hospital                        7
            Training Institution                     6
            RCH                                      2
            Centre                                   1
            Municipal Health Directorate             1
            Municipal Hospital                       1
            Polyclinic                               1
            Regional Health Directorate              1
            Regional Hospital                        1

In [30]:
df.loc[df['Region']=='Brong Ahafo'].groupby(['Region','Ownership']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                              FacilityName
Region      Ownership
Brong Ahafo Government                 245
            Private                     78
            CHAG                        20
            Maternity Home               2
            Clinic                       1
            Muslim                       1
            Quasi-Government             1

## Northern Region

In [45]:
df.loc[df['Region']=='Northern'].groupby(['Region','District']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                              FacilityName
Region   District
Northern Tamale Metropolitan            41
         East Gonja                     22
         West Mamprusi                  21
         Saboba-Chereponi               18
         Bole                           16
         East Mamprusi                  15
         Tolon-Kumbungu                 15
         West Gonja                     15
         Yendi                          15
         Bunkpurugu-Yunyuo              13
         Savelugu-Nanton                13
         Zabzugu-Tatale                 12
         Sawla-Tuna-Kalba               11
         Central Gonja                  10
         Gushegu                         9
         Nanumba North                   9
         Karaga                          6
         Nanumba South                   6

In [31]:
df.loc[df['Region']=='Northern'].groupby(['Region','Type']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                          FacilityName
Region   Type
Northern Health Centre                             108
         CHPS                                       81
         District Health Directorate                17
         Clinic                                     16
         District Hospital                          10
         Hospital                                    8
         RCH                                         7
         Training Institution                        7
         Maternity Home                              6
         Polyclinic                                  2
         Metropolitan Health Directorate             1
         Others                                      1
         Regional Health Directorate                 1
         Regional Hospital                           1
         Teaching Hospital                           1

In [32]:
df.loc[df['Region']=='Northern'].groupby(['Region','Ownership']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                           FacilityName
Region   Ownership
Northern Government                 224
         CHAG                        28
         Private                     13
         Quasi-Government             2

## Upper East

In [46]:
df.loc[df['Region']=='Upper East'].groupby(['Region','District']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                 FacilityName
Region     District
Upper East Bawku Municipal                 33
           Bongo                           33
           Kassena-Nankana                 30
           Bawku West                      27
           Bolgatanga Municipal            25
           Builsa                          24
           Garu-Tempane                    23
           Kassena-Nankana West            18
           Talensi-Nabdam                  18
           Navrongo                         1

In [33]:
df.loc[df['Region']=='Upper East'].groupby(['Region','Type']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                         FacilityName
Region     Type
Upper East CHPS                                    94
           Clinic                                  50
           Health Centre                           36
           Others                                  28
           District Health Directorate              6
           Training Institution                     5
           District Hospital                        4
           Maternity Home                           2
           Municipal Health Directorate             2
           Municipal Hospital                       1
           RCH                                      1
           Regional Health Directorate              1
           Regional Hospital                        1
           Research Institution                     1

In [34]:
df.loc[df['Region']=='Upper East'].groupby(['Region','Ownership']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                             FacilityName
Region     Ownership
Upper East Government                 195
           CHAG                        23
           Private                     13
           Quasi-Government             1

## Upper West

In [47]:
df.loc[df['Region']=='Upper West'].groupby(['Region','District']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                         FacilityName
Region     District
Upper West Wa Municipal            30
           Nadowli                 29
           Lawra                   23
           Wa East                 18
           Wa West                 16
           Jirapa                  14
           Lambussie               13
           Sissala East            10
           Sissala West             7
           Wa                       1

In [35]:
df.loc[df['Region']=='Upper West'].groupby(['Region','Type']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                                         FacilityName
Region     Type
Upper West CHPS                                    60
           Health Centre                           59
           Clinic                                  10
           District Health Directorate              8
           RCH                                      5
           District Hospital                        4
           Hospital                                 4
           Maternity Home                           4
           Training Institution                     4
           Municipal Health Directorate             1
           Regional Health Directorate              1
           Regional Hospital                        1

In [36]:
df.loc[df['Region']=='Upper West'].groupby(['Region','Ownership']).count()['FacilityName'].to_frame().sort_values('FacilityName',ascending=False)

                       FacilityName
Region     Ownership
Upper West Government           138
           CHAG                  12
           Private                9
           Islamic                2